.info-banner-img {
        width: 100%;
        height:20rem;
        object-fit: cover;
        object-position: 60% 100%;
}

.transport_map_img {
        max-width: 75%;
        max-height: 75%;
    }
 
    header {
        top: 0;
        width: 100%;
    }
    
    button {
        margin: 0 10px;
    }
    
    