:root {
    --main-color: rgb(128, 74, 49);
    --secondary-color:rgb(120, 160, 79);
    --secondary-color-code:120, 160, 79;
    --highlight-color: rgb(244, 144, 151);
    --light-color: rgb(233, 241, 247);
    --dark-color: rgb(6, 6, 7);
  }

/* Base Fonts */
body, main {
    font-family: 'Inter', sans-serif; /* Set your preferred font stack */
    font-size: 16px; /* Set base font size */
    line-height: 1.6; /* Set line height */
    overflow-x: hidden;
    width: 100%;
}

main {
    width: 100%; /* Set the width of the main element */
    margin: 0 auto; /* Center the main element horizontally */
    position: relative; /* Position the main element */
    left: 50%; /* Move the main element horizontally to the center */
    transform: translateX(-50%); /* Correct the position by moving the element back 50% of its own width */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Suez One', sans-serif; /* Example: Set headings font */
    /* Additional styles for headings if needed */
}

h1 {
    font-size: 28px;
}

h1 a {
    color: var(--main-color);
    text-decoration: none;
}

p {
    /* Additional styles for paragraphs if needed */
    word-wrap: break-word;
}

/* Base Colors */
body {
    color: #333; /* Set default text color */
    background-color: #fff; /* Set default background color */
    background-image: url('images/blorenge_contour_lines.png');
    background-repeat: repeat-y;
    background-size: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Flip every other repetition of the image */
body:nth-child(odd) {
    transform: scaleY(-1);
}


a {
    color: #007bff; /* Set link color */
    text-decoration: none; /* Remove underline by default */
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/*re-usable spacing*/

.space {
    padding: 2% 12%;
}

.doublecolumn{
    column-count: 2; /* Divide content into two columns */
    column-gap: 20px; /* Add space between columns */
    display: flex;
    max-height: 20% ;
}

.column {
    width: 100%;    
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the column */
    min-height: 0; /* Ensure that the column can shrink if necessary */
    flex-grow: 1;
}

.map_img{
    max-width: 65%;
    height:auto;    
}

figure{
    display: contents;
}

.center-wrapper {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column;
  }
  


  .centre_text { 
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  }


  /* Base styles */
.mobile-hidden {
    display: block; /* Ensure the element is displayed by default */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .mobile-hidden {
        display: none !important ; /* Hide the element on devices with a width of 767px or less */
    }
}

/* Additional styles for other elements */

/* Intro block */ 
.homeintro {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .homeintro {
        flex-direction: row; /* When screen is wider, put items in a row */
    }
}

.homeintro_summary {
padding: 15px;
margin: 10px;
border: 3px var(--secondary-color) solid;
text-align: center;
}

.homeintro_img {
width:100%;
height:100%;
object-fit: cover;
object-position: 80% 80%;
}

.homeintro_p1 {
    margin: 0rem 1rem;
    max-width: 100%;
    max-height: 435px;
    overflow:hidden;
}

.home_banner { 
 display:flex;
 align-items: center;
 background-color: rgba(var(--secondary-color-code), 0.5);
 flex-direction: column; /* By default, stack items */
}

@media (min-width: 700px) {
    .home_banner {
        flex-direction: row; /* When screen is wider, put items in a row */
    }
}
.home_banner > h2{
  margin-right: 10rem;
  margin-left: 5rem; 
  color:  var(--main-color)
}
.home_banner > p{
    margin:1rem; 
  }

  .home_banner_img_div {
    display:flex;
  }

.home_banner_img { 
    width: 100%;
    height:20rem;
    object-fit: cover;
    object-position: 80% 40%;
}

@media (min-width: 700px) {
    .nav-iframe {
        height: 100px;
    }
}

/* Footer */ 
.footer-iframe {
    position: relative; /* Position the iframe relative to the viewport */
    bottom: 0; /* Align the iframe to the bottom of the viewport */
    left: 0; /* Align the iframe to the left side of the viewport */
    width: 100%; /* Set the width of the iframe to span the entire viewport */
    height: 300px;
    border: none; /* Remove border */
}

@media (min-width: 700px) {
    .footer-iframe  {
        height: 200px;
    }
}

