body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar {
  background-color: #fff;
  color: black;
  padding: 0px 20px 0px 20px;
  width: 100%;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px #804A31 solid;
}

/* Base Fonts */
body, main {
  font-family: 'Inter', sans-serif; /* Set your preferred font stack */
  font-size: 16px; /* Set base font size */
  line-height: 1.6; /* Set line height */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Suez One', sans-serif; /* Example: Set headings font */
  /* Additional styles for headings if needed */
}

.navbar img {
  height: auto; /* Adjust the height of the logo as needed */
  width: 150px;
}

@media (max-width: 840px) {
  .logo_navbar {
      display: none; /* Hide the element on mobile devices */
  }
}

.navbar h1 {
  margin: 0;
  font-size: 42px;
  margin-right: 35vw;
}

.nav-links {
  list-style: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Add some spacing between each navigation link */
}

@media screen and (min-width: 980px) and (max-width: 1300px) {
  .navbar h1 {
      margin-right: 10vw; /* Decrease margin for smaller screens */
  }
  .nav-links li {
    margin-right: 1px; /* Add some spacing between each navigation link */

}
}
@media screen and (max-width: 980px) {
  .navbar h1 {
      margin-right: 0vw; /* Decrease margin for smaller screens */
  }
  .nav-links li {
    margin-right: 1px; /* Add some spacing between each navigation link */

}
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

.nav-links li a {
  color: black;
  text-decoration: none;
  background: #F49097;
  padding: 2px 4px;
  border-radius: 10%;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.nav-links li a:hover {
  text-decoration: underline; /* Underline navigation links on hover */
}



