<!-- footer.html -->
<script src="https://kit.fontawesome.com/db043483b5.js" crossorigin="anonymous"></script>
<footer>
    <div class="footer-content">
        <h3>Blorenge Fell Race</h3>
        <ul>
            <li><i class="fa-solid fa-envelope"></i>Email: <a href="mailto:patrickj.jarvis@gmail.com">patrickj.jarvis@gmail.com</a></li>
            <li><i class="fa-solid fa-phone"></i>Phone: 07460460333</li>
            <li><i class="fa-solid fa-circle-info"></i><a href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
        <img src="/images/WFRAbanner.png" alt="Welsh fell running association banner">
    </div>
</footer>
