<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/db043483b5.js" crossorigin="anonymous"></script>
</head>

<!-- footer.html -->

<footer>
    <div class="footer-content">
        <div class="footer-content-left">
        <h3>Blorenge Fell Race</h3>
        <ul>
            <li></i>Email: <a href="mailto:blorengefellrace@gmail.com">patrickj.jarvis@gmail.com</a></li>
            <!--<li><a href="privacy-policy.html">Privacy Policy</a></li>-->
        </ul>
    </div>
<div class="footer-content-right">
        <img src="/images/WFRAbanner.png" alt="Welsh fell running association banner">
        </div>
    </div>
</footer>
