<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blorenge Fell Race footer</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="footer.css">
  <script src="https://kit.fontawesome.com/db043483b5.js" crossorigin="anonymous"></script>
</head>
<body>
  <footer>
    <div class="footer-content">
      <div class="footer-content-left">
        <h3>Blorenge Fell Race</h3>
        <ul>
          <li>Email: <a href="mailto:blorengefellrace@gmail.com">blorengefellrace@gmail.com</a></li>
          <li><a href="/privacy.html" target="_top">Privacy policy</a></li>
        </ul>
      </div>
      <div class="footer-content-right">
        <a href="https://welshfellrunnersassociation.org.uk/" target="_blank" rel="noopener noreferrer">
          <img src="/images/WFRAbanner.png" alt="Welsh Fell Runners Association">
        </a>
      </div>
    </div>
  </footer>
</body>
</html>
